<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">My tasks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link :to="{ name: 'HomePage'}" class="nav-link">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'LoginPage'}" class="nav-link">Login</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'SignUpPage'}" class="nav-link">Sign up</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'TasksPage'}" class="nav-link">Tasks</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'ProfilePage'}" class="nav-link">Profile</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</template>

<script>
</script>

<style>
</style>
