<template>
  <div>
    <ul>
        <li v-for="task in tasks" v-bind:key="task.id">
          {{ task.text }} / {{ task.done }}
        </li>
    </ul>
  </div>

</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      tasks: [{
        id: 1,
        text: 'Primera Tarea',
        done: true
      },
      {
        id: 2,
        text: 'Segunda Tarea',
        done: false
      }]
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
