<template>
<div class="container">
<div class="row justify-content-center text-center mt-4">
<div class="col-4 tasks">

<div class="card text-center mt-5">
<div class="card-header">
 <h4>Sign in</h4>
 </div>
<div class="card-body text-right">
<div class="form-group">
   <input type="email" class="form-control" placeholder="Username">
</div>
<div class="form-group">
   <input type="password" class="form-control" placeholder="Password">
</div>
   <button type="submit" class="btn btn-primary" v-on:click="login">Login</button>
</div>
</div>

<main-footer/>
</div>
</div>
</div>
</template>
<script>
import MainFooter from '@/components/Footer.vue'

export default {
  name: 'LoginPage',
  components: {MainFooter},
  methods: {
    login () {
      console.log('tasks')
      this.$router.push('/tasks')
    }
  }
}
</script>

<style>
</style>
