<template>
     <div class="container">
      <div class="row mt-4 justify-content-center">
        <div class="col-8">

          <h1 class="mb-4">My tasks</h1>

          <div class="row">
            <div class="col-4">

              <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="#">My profile</a>
                <a class="nav-link" href="#">Preferences</a>
                <a class="nav-link" href="#">Change password</a>
              </nav>

            </div>

            <div class="col-8">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
</template>

<script>
</script>

<style>
</style>
