<template>
<div class="container">
      <div class="row justify-content-center text-center mt-4">
        <div class="col-4 tasks">

          <div class="card text-center mt-5">
            <div class="card-header">
              <h4>Sign up</h4>
            </div>
            <div class="card-body text-right">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email address">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last name">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm password">
              </div>
              <button type="submit" class="btn btn-primary">Create my account</button>
            </div>
          </div>
             <main-footer/>
        </div>
      </div>
    </div>
</template>
<script>
import MainFooter from '@/components/Footer.vue'

export default {
  name: 'LoginPage',
  components: { MainFooter }
}
</script>
<style>

</style>
