<template>
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-8">

      <h1 class="mb-4">My tasks</h1>

      <div class="mb-2">
        <input class="form-control form-control-lg" type="text" placeholder="Create a task here..." autofocus v-model="newTask" v-on:keyup.enter="addNewTask">
      </div>
      <table class="table table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" width="15%">
              <a href="#" v-on:click="selectAllTasks(true)" v-show="!SelorNot">Select all</a>
              <a href="#" v-on:click="selectAllTasks(false)" v-show="SelorNot">UnSelect all</a>
            </th>
            <th scope="col" width="65%">Title</th>
            <th scope="col" width="20%">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr class= "task" v-bind:class="{'is-checked':task.done, 'is-active':task === editedTask}" v-for= "task in tasks" v-bind:key="task.id">
            <td class="text-center"><input class="form-check-input task-check" type="checkbox" checked v-model="task.done"></td>
            <td>
              <span class="task-title">{{ task.text }}</span>
              <input type="text" class="form-control form-control-sm task-input" v-model="task.text">
            </td>
            <td>
              <button class="btn btn-primary btn-sm" v-on:click="editNewTask(task)" v-show="task!==editedTask">Edit</button>
              <button class="btn btn-success btn-sm" v-on:click="saveNewTask(task)" v-show="task===editedTask">Save</button>
              <button class="btn btn-danger btn-sm" v-on:click="removeNewTask(task)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="alert alert-warning lead" v-show ="tasks.length>0">
        Hay <span class="font-weight-bold">{{tasks.length}}</span> tarea(s), <span class="font-weight-bold">{{completedTasks}}</span> estan completada(s) y <span class="font-weight-bold">{{remainingTasks}}</span> faltan completar.
      </div>

    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'TasksPage',
  data () {
    return {
      newTask: '',
      editedTask: {},
      SelorNot: false,
      tasks: [
        {
          id: 1,
          text: 'Planchar la Ropa',
          done: false
        },
        {
          id: 2,
          text: 'Lavar los Platos',
          done: false
        },
        {
          id: 3,
          text: 'Jugar VideoJuegos',
          done: false
        }
      ]
    }
  },
  methods: {
    addNewTask () {
      if (this.newTask.length > 5) {
        console.log('Funciona')
        console.log(this.newTask)
        const total = this.tasks.length
        let newId = 1
        if (total > 0) {
          const last = this.tasks[total - 1]
          newId = last.id + 1
        }
        const task = {
          id: newId,
          text: this.newTask,
          done: false
        }
        this.tasks.push(task)
        this.newTask = ''
      }
    },
    removeNewTask (task) {
      console.log('Eliminado', task)
      const taskIndex = this.tasks.indexOf(task)
      this.tasks.splice(taskIndex, 1)
    },
    editNewTask (task) {
      console.log('Editado', task)
      this.editedTask = task
    },
    saveNewTask (task) {
      console.log('Guardado', task)
      this.editedTask = {}
    },
    selectAllTasks (newValue) {
      for (let i = 0; i < this.tasks.length; i++) {
        this.tasks[i].done = newValue
      }
      this.SelorNot = !this.SelorNot
    }
  },
  computed: {
    completedTasks () {
      const tasks = this.tasks
      let c = 0
      for (let i = 0; i < tasks.length; i++) {
        if (tasks[i].done) {
          c = c + 1
        }
      }
      return c
    },
    remainingTasks () {
      const tasks = this.tasks
      let r = 0
      for (let i = 0; i < tasks.length; i++) {
        if (tasks[i].done === false) {
          r = r + 1
        }
      }
      return r
    }
  }

}
</script>

<style scoped>
  .task .task-input {
    display: none;
  }
  .task.is-checked .task-title {
    text-decoration: line-through;
  }
  .task.is-active .task-input {
    display: block;
  }
  .task.is-active .task-title {
    display: none;
  }
</style>
